<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/partials/pieces :: headBlock}">
</head>
<head><title>Alterar usuario</title></head>

<body>
	<header th:replace="~{/partials/pieces :: navbar}"></header>
	<main class="container" style="margin-top: 50px">
		<div th:if="${sucess}" class="alerta">
			<div class="alert alert-success" role="alert">
				<p th:utext="${sucess}"></p>
			</div>
		</div>
		<section>
			<div>
				<div class="container">
					<h4>Editar dados da conta</h4>
					<div class="div-edicao">
						<div>
							<span class="font-input">Nome: </span><span
								th:text="${usuarioAlterar.getNome()}"></span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarNome">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Email: </span><span
								th:text="${usuarioAlterar.getEmail()}">Email</span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarEmail">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Número: </span><span
								th:text="${usuarioAlterar.getTelefone()}">Número</span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarNumero">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Senha: </span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarSenha">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Admin: </span> <span
								th:text="${usuarioAlterar.getAdmin()}"></span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarTipo">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Apagar conta: </span>
						</div>
						<form action="/removerConta" th:object="${usuarios}"
							method="post">
							<button type="submit" class="botao danger text-white"
								onclick="return confirm('Você tem certeza que quer deletar a conta?');">
								Excluir</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- Modal Nome -->
		<div class="modal fade" id="editarNome" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Altere
							o nome</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/admin/alterardadosusuario"
							method="post">
							<div>Fazer alteração do nome.</div>
							<div class="break"></div>
							<div>
								<input type="text" class="form-control" id="" name="nome"
									placeholder="Nome">
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- Modal Email-->
		<div class="modal fade" id="editarEmail" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Alterar
							email</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/admin/alterardadosusuario"
							method="post">
							<input type="hidden" name="codigo"
								th:value="*{usuarioAlterar.getId()}">
							<div>Digite o novo endereço de email que você deseja
								associar à sua conta. Enviaremos um código de verificação para
								esse endereço.</div>
							<div class="break"></div>
							<div>
								<input type="email" class="form-control" id="" name="email"
									placeholder="Novo endereço de email">
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Continuar</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- Modal Número-->
		<div class="modal fade" id="editarNumero" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Alterar
							o número do celular</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/admin/alterardadosusuario"
							method="post">
							<input type="hidden" name="codigo"
								th:value="*{usuarioAlterar.getId()}">
							<div>
								<select class="form-select form-select-sm" name="" id="">
									<option value="">DDD</option>
								</select>
							</div>
							<div class="break"></div>
							<div>
								<input minlength="11" maxlength="11" type="tel"
									class="form-control" id="" name="numero"
									placeholder="Número de celular">
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!--Modal tipo -->
		<div class="modal fade" id="editarTipo" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Altere
							o seu nome</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/admin/alterardadosusuario"
							method="post">
							<input type="hidden" name="codigo"
								th:value="*{usuarioAlterar.getId()}">
							<div>Fazer alteração do tipo da conta.</div>
							<div class="break"></div>
							<div>
								<select class="form-select form-select-sm" name="tipodaconta"
									aria-label=".form-select-sm example">
									<option value="false" selected>Comum</option>
									<option value="true">Admin</option>

								</select>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- Modal Senha-->
		<div class="modal fade" id="editarSenha" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Fazer
							Alteração da senha</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row">
							<input type="hidden" name="codigo"
								th:value="*{usuarioAlterar.getId()}">
							<div>
								<div>
									<input type="password" class="form-control" id=""
										placeholder="Senha atual">
								</div>
								<div class="break"></div>
								<div>
									<input type="password" class="form-control" id=""
										placeholder="Senha nova">
								</div>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="text-center">
		<div th:replace="~{/partials/pieces :: footer}"></div>
	</footer>
</body>

</html>