<!DOCTYPE html>
<html lang="en">

<head>
    <header th:replace="/partials/header :: headBlock"></header>
</head>

<body>
    <th:block th:fragment="footer">
            <footer style="position:relative; z-index:0" class="text-center fixed-bottom">
                <p class="text-muted border-top pt-3">Desenvolvimento por <a class="link"
                        href="https://theuselessweb.com" target="_blank">IFPE Enterprise</a> &copy;</p>
            </footer>

        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/scripts.js"></script>
    </th:block>
</body>

</html>