body {
	padding-top: 48px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.break {
	position: relative;
	top: 100%;
	height: 8px;
}

.nav-link {
	font: bold 18px Arial;
}

.bt-edit {
	color: #198754
}

.bt-rm {
	color: #DC3545
}

.navbar-toggler {
	font: bold 18px Arial;
	color: white;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.margin {
	margin-top: 8px;
}

.produtos {
	cursor: pointer;
}

.navbar-toggler:hover {
	background-color: gray;
}

.alerta {
	height: 40px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.font-input {
	font: bold 18px Arial;
}

.container-left {
	padding: 8px;
}

.alterarpedido {
	margin: 8px 24px 0 20px;
}

.div-produto {
	display: grid;
	grid-template-columns: auto auto;
	width: auto;
	align-content: start;
	padding: 8px;
	gap: 8px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px gray;
}

.produto {
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 640px;
	padding: 8px;
	box-shadow: 2px 2px 2px 2px gray;
}

.div-borda {
	align-content: start;
	padding: 8px;
	gap: 8px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px gray;
}

.carrinhovazio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cursor{
	cursor: pointer;
}
.info-prod {
	text-align: left;
	font: bold 18px Arial;
}

.nome-prod {
	height: 33%;
}

.descricao-prod {
	height: 56px;
	margin-top: 10px;
	color: black;
	font: normal 16px Arial;
	overflow: hidden;
}

.preco-prod {
	height: 33%;
	margin-top: 10px;
	height: 24px;
	color: green;
}

.imagens {
	width: 200px;
	height: 150px;
}

.imagens-bp {
	width: 40px;
	height: 40px;
}

.produto:hover {
	background-color: rgb(223, 223, 223);
}

.div-compras {
	display: grid;
	text-align: center;
	width: auto;
	display: flex;
	justify-content: center;
	padding: 8px;
	gap: 8px;
	grid-template-columns: auto auto auto auto;
}

.input-compras {
	width: auto;
	max-width: 130px;
	border: solid 1px black;
	border-radius: 8px;
	height: 40px;
	text-align: center;
}

.input-qtd {
	border: solid 0.5px black;
	border-radius: 8px;
	width: 40px;
	height: 40px;
	gap: 16px;
	text-align: center;
}

.div-edicao {
	width: auto;
	max-width: 1320px;
	display: flex;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	box-shadow: 2px 2px 2px 2px gray;
	height: 80px;
}

.danger {
	background-color: #DC3545 !important;
	border: solid 0.5px #DC3545 !important;
}

.botao {
	background-color: #198754;
	font: bold 18px Arial;
	width: 100px;
	height: 48px;
	border: solid 0.5px #198754;
	border-radius: 8px;
}

.botao-md {
	background-color: #198754;
	font: bold 18px Arial;
	width: 300px;
	height: 48px;
	border: solid 0.5px #198754;
	border-radius: 8px;
}

.rodape {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
}

.tabela {
	overflow-x: auto;
}

@media ( max-width : 654px) {
	.div-produto {
		grid-template-columns: auto;
	}
	.modal {
		margin-top: 10px;
		max-width: 500px;
		height: 700px;
	}
	.modal-sm {
		width: 23rem;
		height: 200vh;
	}
	.imagens {
		max-width: 100px;
		height: 120px;
	}
	.botao {
		width: 75px;
		height: 35px;
	}
	.botao-md {
		width: 102px;
		height: 80px;
	}
}