<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/partials/pieces :: headBlock}">
<title>Meus Pedidos</title>
</head>

<body>
	<header th:replace="~{/partials/pieces :: navbar}"></header>
	<main class="container">
		<section class="container">
			<div>
				<h4>Histórico de Pedidos</h4>
			</div>
			<div>
				<div class="row bg-secondary">
					<div class="col fs-2">Pedido</div>
					<div class="col fs-2">Status</div>
					<div class="col fs-2 text-right">Valor</div>
				</div>
			</div>
			<div>
				<div class="row bg-secondary">
					<div class="col fs-2"></div>
					<div class="col fs-2"></div>
					<div class="col fs-2 text-right"></div>
				</div>
			</div>
		</section>
	</main>
	<footer class="text-center fixed-bottom">
		<div th:replace="~{/partials/pieces :: footer}"></div>
	</footer>
</body>

</html>