<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <header th:replace="partials/header :: navbar"></header>
    <main class="container">        
        <section class="container">
            <div>
                <h4>Histórico de Pedidos</h4>
            </div>
            <div>
                <div class="row bg-secondary">
                    <div class="col fs-2">Pedido</div>
                    <div class="col fs-2">Status</div>
                    <div class="col fs-2 text-right">Valor</div>
                </div>
            </div>
            <div>
                <div class="row bg-secondary">
                    <div class="col fs-2"></div>
                    <div class="col fs-2"></div>
                    <div class="col fs-2 text-right"></div>
                </div>
            </div>
        </section>
        <footer th:replace="/partials/footer :: footer"></footer>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>