<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/partials/pieces :: headBlock}">
</head>
<head><title>Minha conta</title></head>

<body>
	<header th:replace="~{/partials/pieces :: navbar}"></header>
	<main class="container">
		<div th:if="${sucess}" class="alerta" style="z-index: -1">
			<div class="alert alert-success" role="alert">
				<p th:utext="${sucess}"></p>
			</div>
		</div>
		<div th:if="${falha}" class="alerta" style="z-index: -1">
			<div class="alert alert-danger" role="alert">
				<p th:utext="${falha}"></p>
			</div>
		</div>
		<section>
			<div style="margin-top: 70px;">
				<div class="container">
					<h4>Editar dados da conta</h4>
				</div>
				<div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Nome: </span><span
								th:utext="${session.usuarioLogado.getNome()}"></span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarNome">
							<button type="button" class="botao font-input text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Email: </span><span
								th:utext="${session.usuarioLogado.getEmail()}">Email</span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarEmail">
							<button type="button" class="botao font-input text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Número: </span><span
								th:utext="${session.usuarioLogado.getTelefone()}">Número</span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarNumero">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Senha: </span>
						</div>
						<div data-bs-toggle="modal" data-bs-target="#editarSenha">
							<button type="button" class="botao text-white">Editar</button>
						</div>
					</div>
					<div class="div-edicao">
						<div>
							<span class="font-input">Apagar conta: </span>
						</div>
						<form th:action="@{/removerConta}" th:object="${usuarios}"
							method="post">
							<button type="submit" class="botao danger btn-lg text-white"
								onclick="return confirm('Você tem certeza que quer deletar sua conta?');">Excluir</button>
						</form>
					</div>

				</div>
			</div>
		</section>

		<!-- Modal Nome -->
		<div class="modal fade" id="editarNome" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Altere
							o seu nome</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/alterardados" method="post">
							<div>Fazer alteração do nome associado à sua conta.</div>
							<div class="break"></div>
							<div>
								<input type="text" class="form-control" id="" name="nome"
									placeholder="Nome" required>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- Modal Email-->
		<div class="modal fade" id="editarEmail" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Altere
							o seu email</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/alterardados" method="post">
							<div>Digite o novo endereço de email que você deseja
								associar à sua conta. Enviaremos um código de verificação para
								esse endereço.</div>
							<div class="break"></div>
							<div>
								<input type="email" class="form-control" id="" name="email"
									placeholder="Novo endereço de email" required>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Continuar</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

		<!-- Modal Número-->
		<div class="modal fade" id="editarNumero" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Alterar
							o número do celular</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row" action="/alterardados" method="post">
							<div>
								<select class="form-select form-select-sm" name="" id="">
									<option value="">DDD</option>
								</select>
							</div>
							<div class="break"></div>
							<div>
								<input minlength="11" maxlength="11" type="tel"
									class="form-control" id="" name="numero"
									placeholder="Número de celular" required>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<!-- Modal Senha-->
		<div class="modal fade" id="editarSenha" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Fazer
							Alteração da senha</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<form class="row">
							<div>	
								<div>
									<input type="password" class="form-control" id="" name="senha"
										placeholder="Digite sua nova senha" required>
								</div>
							</div>
							<div class="break"></div>
							<div class="d-grid gap-2">
								<button type="submit" class="font-input btn btn-success">Salvar
									alteração</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="text-center">
		<div th:replace="~{/partials/pieces :: footer}"></div>
	</footer>
</body>

</html>